


* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;

    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  /*loader*/
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure the loader is on top of other elements */
}

/* Add your other styles here */

.loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;
    margin: auto;
    position: relative;
    top: 50%;
}

.loader:before,
.loader:after {
    border-radius: 50%;
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
}

.loader:before {
    animation: ball1 1s infinite;
    background-color: #cb2025;
    box-shadow: 30px 0 0 #f8b334;
    margin-bottom: 10px;
}

.loader:after {
    animation: ball2 1s infinite;
    background-color: #00a096;
    box-shadow: 30px 0 0 #97bf0d;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.8);
    }
    50% {
        transform: rotate(360deg) scale(1.2);
    }
    100% {
        transform: rotate(720deg) scale(0.8);
    }
}

@keyframes ball1 {
    0% {
        box-shadow: 30px 0 0 #f8b334;
    }
    50% {
        box-shadow: 0 0 0 #f8b334;
        margin-bottom: 0;
    }
    100% {
        box-shadow: -30px 0 0 #f8b334;
        margin-bottom: -10px;
    }
}

@keyframes ball2 {
    0% {
        box-shadow: 30px 0 0 #97bf0d;
    }
    50% {
        box-shadow: 0 0 0 #97bf0d;
        margin-bottom: 0;
    }
    100% {
        box-shadow: -30px 0 0 #97bf0d;
        margin-bottom: -10px;
    }
}

/*images*/



/* Slider */
/* Ensure the slider container fills the remaining viewport height */
.slider {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 60px); /* Adjust the height as needed */
  width: 100%; /* Ensure it takes the full width of the container */
}

.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/image/banner/background.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(8px); /* Adjust the blur amount as needed */
  z-index: -1; /* Ensure the pseudo-element is behind the slider content */
}

/* Use flexbox for the ul to align the images correctly */
.slider ul {
  display: flex;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease-in-out;
  list-style: none;
  position: relative; /* Ensure the images are above the blurred background */
  z-index: 1; /* Ensure the images are above the blurred background */
}

/* Each li should take 100% of the slider width */
.slider ul li {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Center the images vertically */
}

/* Ensure images maintain their aspect ratio and fit within the container */
.slider ul li img {
  height: calc(100vh - 60px); /* Adjust the height as needed */
  width: auto; /* Let the width adjust automatically */
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

@media (max-width: 768px) {
  .slider {
    height: calc(60vh - 30px); /* Increase the height for smaller screens */
  }

  .slider ul li img {
    height: calc(60vh - 30px); /* Ensure images match the new slider height */
    width: 100%; /* Ensure the image takes full width */
    object-fit: cover; /* Ensure the image covers the container without stretching */
  }
}



  
/*logo*/

  
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%; /* Ensure the anchor tag takes the full height of the navigation bar */
}

.logo img {
    padding-right: 0px;
    width: 200px;
    height: 100%;
}


  
  
nav {
    display: flex;
    justify-content: space-between; /* Adjusted to space-between */
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    padding: 0 20px; /* Add padding to the left and right for spacing */
}
  

  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  .bn29 {
    border: none;
    padding: 0.8em 2.5em;
    outline: none;
    color: white;
    font-style: 1.2em;
    position: relative;
    z-index: 1;
    cursor: pointer;
    background: none;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.45);
  }
  
  .bn29:before,
  .bn29:after {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10em;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 105%;
    height: 105%;
    content: "";
    z-index: -2;
    background-size: 400% 400%;
    background: linear-gradient(
      60deg,
      #f79533,
      #f37055,
      #ef4e7b,
      #a166ab,
      #5073b8,
      #1098ad,
      #07b39b,
      #6fba82
    );
  }
  
  .bn29:before {
    -webkit-filter: blur(7px);
    filter: blur(7px);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-animation: pulse 10s infinite ease;
    animation: pulse 10s infinite ease;
  }
  
  .bn29:after {
    -webkit-filter: blur(0.3px);
    filter: blur(0.3px);
  }
  
  .bn29:hover:before {
    width: 115%;
    height: 50%;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 80vh; /* Adjust the height to your preference */
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 100;
        display: none; /* Initially hide the nav-list */
    }

    .nav-list.active {
        transform: translateX(0);
        display: flex; /* Show the nav-list when active */
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
        margin-bottom: 10px; /* Adjust the margin to your preference */
        transition: opacity 0.3s ease-in; /* Smooth transition for opacity */
    }

    .mobile-menu {
        display: block;
        cursor: pointer;
    }

    /* Adjust the hamburger menu lines */
    .mobile-menu .line1,
    .mobile-menu .line2,
    .mobile-menu .line3 {
        width: 32px;
        height: 2px;
        background: #fff;
        margin: 8px;
        transition: 0.3s;
    }

    /* Hamburger menu animation for active state */
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
}

  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }



  /*  social media*/
  .sidebar-social {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    
    z-index: 100; /* Ensure the sidebar is above other content */

}

.sidebar-social ul a {
    text-decoration: none;
}
.sidebar-social li {
    list-style: none;
    color: #fff;
    width: 15px;
    display: flex;
    overflow: hidden;
    padding: 17px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.5rem;
}
.sidebar-social li:hover {
    width: 180px;

}


.sidebar-social li i {
    margin-right: 22px;
}



.insta {
    background-color: #df2f6d;
}
.wt {
    background-color:  #075E54 ;
}
.call{
    background-color: blueviolet;
}
.gmail{
    background-color: #c71610;
}

.sidebar-social .insta:hover {
    background-color: #df2f6d;
}
.sidebar-social .wt:hover {
    background-color: #075E54;
}

.sidebar-social .call:hover {
    background-color: blueviolet;
}
.sidebar-social .gmail:hover {
    background-color: #c71610;
}

/* bottom*/
/* Footer Styles */
footer.headfooter {
  background: linear-gradient(145deg, #253529, #2a2a35); /* Glossy dark blue background */
  color: #fff;
  padding: 20px;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  box-shadow: 5px 5px 15px #14141a, -5px -5px 15px #353546; /* 3D effect */
}

footer.headfooter:hover {
  background-color: rgba(35, 35, 46, 0.9); /* Darken the background on hover */
}

.footer .copyright {
  background-color: rgba(35, 35, 46, 0.8); /* Semi-transparent background */
  color: #fff;
  padding: 5px; /* Reduced padding */
  text-align: center;
  font-size: 12px; /* Smaller font size */
}

hr {
  border-color: rgba(255, 255, 255, 0.1); /* Example divider color */
  margin: 20px 0;
}




.copyright {
    text-align: center; 
}
.fistdv {
    display: block;
    justify-content: space-around;
}

.bottomlink {
    list-style-type: none;
    padding: 0px;
    margin: 0%;
}

.bottomlink a {
    color: #fff;
    text-decoration: none;
}

.fistdv{
    display: flex;
}
.fistdv h1{
    color: lightgreen;
}

.bottomsocialmedia li {
    color: lightblue;
    text-decoration: none;
    list-style: none;
}

.bottomsocialmedia .fab..fa:hover {
    opacity: 0.7;
}

.bottomsocialmedia .fab.fa-facebook {
    color: #3B5998;
    
    
  }
  .bottomsocialmedia .fab.fa-google {
    color: #dd4b39;
    
  }
  .bottomsocialmedia .fab.fa-linkedin {
    color: #007bb5;
    
    
  }
  
  .bottomsocialmedia .fab.fa-youtube {
    color: #bb0000;
  }
  
  .bottomsocialmedia .fab.fa-instagram   {
   
    color:  #df2f6d;

    
  }
  
.bottomsocialmedia li a{
    text-decoration: none;
    margin-right: 10px
}

.locationcontact  i {
    color: red;
    margin: 5px;
}

.locationmail {
    margin: 0px;
    display: flex;
    
}
.locationsm h2{
 color: lightgreen;
 margin:  0px 20px 0px;
} 
.locationsm span{
   
    margin:  0px 20px 0px;
   } 

   .copyright{
    margin: 0px;
    padding: 0px;
   }

   @media only screen and (max-width: 768px) {
    .footer {
      background-color: #23232e;
    }
    hr {
      border-color: rgba(255, 255, 255, 0.1); /* Example divider color */
      margin: 0;
  }
    .fistdv {
        flex-direction: column;
        
    }

    .locationmail {
      flex-direction: column;

    }
   
  }